h1{
    color: violet; 
    font-size: 100px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 20px;
    background-color: black; 
}
h2{
    color: violet;
    font-weight: bold;
}
body{
    background-color: black
}